@import "~bootstrap/scss/bootstrap";

.b-text {
  font-size: 20px;
}

.alert-enter {
  opacity: 0;
}

.alert-enter-active {
  transition: opacity 500ms ease-out;
  opacity: 1;
}

.alert-exit-active {
  transition: opacity 350ms ease-out;
  opacity: 0;
}

.note {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-enter-active {
  animation: note 600ms ease-in alternate-reverse;
}

.note-exit-active {
  animation: note 300ms ease-out forwards;
}

.note-text {
  width: 80%;

  font-size: 20px;
}

@keyframes note {
  0% {
    transform: translateX(0);
  }
  30% {
    opacity: .7;
    transform: translateX(10px);
  }
  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}
